In [1]:
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
import pandas as pd

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
!head usgs_fault -n 12

head: cannot open 'usgs_fault' for reading: No such file or directory

In [7]:
df = pd.read_csv('usgs.csv', comment='#', skiprows=9, names='Lon. Lat. depth slip rake strike dip t_rup t_ris t_fal mo'.split(' '))
df.head()

     Lon.    Lat.  depth  slip  rake  strike  dip  t_rup     t_ris  t_fal  mo
0 -72.500 -31.568  2.069     6    19     102   12    8.8  3.489209    NaN NaN
1 -72.487 -31.460  2.069     6    19      90   12    8.8  2.927868    NaN NaN
2 -72.474 -31.353  2.069     6    19     100   12    8.8  2.666588    NaN NaN
3 -72.461 -31.246  2.069     6    19      90   12    8.8  2.797259    NaN NaN
4 -72.447 -31.138  2.069     6    19      87   12    8.8  3.131454    NaN NaN

In [8]:
df = df.rename(columns={
    'Lat.': 'lat',
    'Lon.': 'lon'
})
df['L'] = 12000
df['W'] = 8800
df['depth']*=1000
df['reference'] = 'center'
df['slip'] *= 0.01
# df['lon'] +=360
df.head()

,lon,lat,depth,slip,rake,strike,dip,t_rup,t_ris,t_fal,mo,L,W,reference
0,-72.500,-31.568,2069.0,0.06,19,102,12,8.8,3.489209,NaN,NaN,12000,8800,center
1,-72.487,-31.460,2069.0,0.06,19,90,12,8.8,2.927868,NaN,NaN,12000,8800,center
2,-72.474,-31.353,2069.0,0.06,19,100,12,8.8,2.666588,NaN,NaN,12000,8800,center
3,-72.461,-31.246,2069.0,0.06,19,90,12,8.8,2.797259,NaN,NaN,12000,8800,center
4,-72.447,-31.138,2069.0,0.06,19,87,12,8.8,3.131454,NaN,NaN,12000,8800,center

In [9]:
df.to_csv('earthquake.csv',index=False)

# Easywave format

In [7]:
df['reference']='C'
df['depth'] /=1000
df['L'] /=1000
df['W'] /=1000
# df['slip'] *= 100

In [8]:
f = open('fault.flt','w')

for index, row in df.iterrows():
    rowString = '-location {lat} {lon} {depth} -refpos {reference} -strike {strike} -dip {dip} -rake {rake} -slip {slip} -size {L} {W}\n'
    rowString = rowString.format(**row)
    f.write(rowString)

f.close()